spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mypetyourpet?useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080