spring:
  datasource:
    url: jdbc:mysql://localhost:3307/mypetyourpet?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
#      ddl-auto: create-drop
    show-sql: true
server:
  port: 8080
