services:
  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mypetyourpet
    ports:
      - "3306:3306"
    volumes:
      - mypetyourpet_db:/var/lib/mysql
  adminer:
    image: adminer
    ports:
      - "8081:8080"
volumes:
  mypetyourpet_db: